# Git Ignore
# Also used by CSpell, Stylelint, and ESLint

# @kitschpatrol/repo-config boilerplate
!.env.example
.astro/
.DS_Store
.env
.env.*
.eslint-config-inspector
.pnpm-store/
.svelte-kit/
{tmp,temp}/
**/*.min.js
/scratch/
bower_components/
build/
coverage/
dist/
node_modules/
vendor/

# Customizations
/test-results
.claude/

# Generated kit files
src/examples/components

# Generated doc files
docs/src/content/docs/docs/components
docs/src/content/acknowledgments
docs/src/examples
docs/.wrangler
