.DS_Store
node_modules
*build/
*dist/
.svelte-kit
.astro

# generated kit files
/src/examples/components

# generated doc files
docs/src/content/docs/docs/components
docs/src/content/acknowledgments
docs/src/examples
