publish-branch=main

# Required for using @kitschpatrol/shared-config with pnpm
public-hoist-pattern[]=@kitschpatrol/repo-config
public-hoist-pattern[]=@kitschpatrol/vscode-config
public-hoist-pattern[]=*cspell*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*markdownlint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*remark*
public-hoist-pattern[]=*stylelint*
