publish-branch=main

# required for pnpm
# public-hoist-pattern[]=@types* TBD
public-hoist-pattern[]=@kitschpatrol/npm-config
public-hoist-pattern[]=@kitschpatrol/vscode-config
public-hoist-pattern[]=*cspell*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*markdownlint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*stylelint*
