{
  "useTabs": true,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 100,
  "plugins": ["prettier-plugin-pkg", "prettier-plugin-svelte", "prettier-plugin-astro"],
  "overrides": [
    {
      "files": [".*", "*.json", "*.md", "*.mdx", "*.toml", "*.yml"],
      "options": {
        "useTabs": false
      }
    },
    {
      "files": "*.svelte",
      "options": {
        "plugins": ["prettier-plugin-svelte"],
        "parser": "svelte"
      }
    },
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
