# Prettier Ignore
# Also respects .gitignore

# @kitschpatrol/prettier-config boilerplate
pnpm-lock.yaml
package-lock.json

# Customizations

# Generated kit files
src/examples/components/

# Generated doc files
docs/src/content/docs/docs/components/
docs/src/content/acknowledgments/
docs/src/examples/
