{
  "extends": ["stylelint-config-standard", "stylelint-config-html"],
  "ignoreFiles": "./dist/**.*",
  "rules": {
    "color-hex-length": null,
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global"]
      }
    ]
  }
}
