@import url("@fontsource-variable/inter/standard.css");

/* src/styles/custom.css */
:root {
  /* --sl-content-width: 60rem; */
  /* --sl-content-inline-start: 0; */
  /* --sl-text-5xl: 3.5rem; */

  /* starlight handles fallbacks */
  --sl-font: "Inter Variable";
  --sl-font-mono: "Fira Code VF";
  overflow-y: scroll;
}
