---
// Adds sibling to Edit Component
import { Icon } from '@astrojs/starlight/components'
// Simper than overriding entire Footer
import StarlightEditLink from '@astrojs/starlight/components/EditLink.astro'

// Note no translation support
const { sourceUrl } = Astro.locals.starlightRoute.entry.data
---

<div>
	<StarlightEditLink />

	{
		sourceUrl && (
			<a class="sl-flex" href={sourceUrl}>
				<Icon name="github" size="1.2em" />
				View source
			</a>
		)
	}
</div>

<style>
	div {
		display: flex;
		gap: 1rem;
		justify-content: space-between;
	}

	a {
		gap: 0.5rem;
		align-items: center;
		margin-left: auto;
		color: var(--sl-color-gray-3);
		text-decoration: none;
	}

	a:hover {
		color: var(--sl-color-white);
	}
</style>
