---
import type { Props } from '@astrojs/starlight/props'
import StarlightThemeSelect from '@astrojs/starlight/components/ThemeSelect.astro'

// eslint-disable-next-line @typescript-eslint/naming-convention
const { BASE_URL } = import.meta.env

// Pulled from https://github.com/HiDeoo/starlight-blog/blob/main/packages/starlight-blog/overrides/ThemeSelect.astro
---

{/* Only show documentation link on home page */}
{
	Astro.props.slug === '' && (
		<div>
			<a href={BASE_URL + '/docs'}>Documentation</a>
		</div>
	)
}
<StarlightThemeSelect {...Astro.props}>
	<slot />
</StarlightThemeSelect>

<style>
	div {
		display: none;
		height: 2rem;
		padding-inline-end: 1rem;
		border-inline-end: 1px solid var(--sl-color-gray-5);
	}

	@media (width >= 50rem) {
		div {
			display: flex;
			align-items: center;
		}
	}

	a {
		font-weight: 600;
		color: var(--sl-color-text-accent);
		text-decoration: none;
	}
</style>
