# Git Ignore
# Also used by CSpell and Stylelint

# @kitschpatrol/repo-config boilerplate
!.env.example
.astro/
.DS_Store
.env
.env.*
.svelte-kit/
{tmp,temp}/
**/*.min.js
/scratch/
bower_components/
build/
coverage/
dist/
node_modules/
vendor/

# Customizations
