---
// major override of '@astrojs/starlight/components/TableOfContents.astro';
import type { Props } from '@astrojs/starlight/props';
import { slug } from 'github-slugger';
import TableOfContentsList from './TableOfContents/TableOfContentsList.astro';

const { toc } = Astro.props;

// Placeholder until this is figured out:
// https://github.com/withastro/starlight/issues/860
function t(key: string) {
	switch (key) {
		case 'tableOfContents.onThisPage':
			return 'On this page';
		default:
			console.error(`No translation found for key: ${key}`);
			return 'TRANSLATION MISSING';
	}
}

// see https://github.com/withastro/starlight/blob/main/packages/starlight/utils/generateToC.ts

const { componentData } = Astro.props.entry.data;
type PropData = NonNullable<Props['entry']['data']['componentData']>['props'];

// mutate props to add ToC items on component pages
// bad work-around for https://github.com/withastro/astro/issues/5084
let localProps = Astro.props;
if (componentData && localProps.toc) {
	function propHeadings(propData: PropData) {
		return propData.map((prop) => tocItemForHeading(prop.name, 3));
	}

	function tocItemForHeading(heading: string, depth: number, children: any[] = []) {
		return {
			depth,
			slug: slug(heading),
			text: heading,
			children: children
		};
	}

	if (componentData.jsDocs && componentData.jsDocs['example'])
		localProps.toc.items.push(
			tocItemForHeading('Example', 2, [tocItemForHeading('Demo', 3), tocItemForHeading('Code', 3)])
		);

	if (componentData.props.length > 0)
		localProps.toc.items.push(tocItemForHeading('Props', 2, propHeadings(componentData.props)));

	if (componentData.events.length > 0)
		localProps.toc.items.push(tocItemForHeading('Events', 2, propHeadings(componentData.events)));

	if (componentData.slots.length > 0)
		localProps.toc.items.push(tocItemForHeading('Slots', 2, propHeadings(componentData.slots)));
}
---

{
	toc && (
		<nav aria-labelledby="starlight__on-this-page">
			<h2 id="starlight__on-this-page">{t('tableOfContents.onThisPage')}</h2>
			<TableOfContentsList toc={toc.items} />
		</nav>
	)
}
